<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>-->
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>

  <exceptionHandling>
    <exceptionPolicies>
      <add name="defaultPolicy">
        <exceptionTypes>
          <add type="System.Exception" postHandlingAction="ThrowNewException" name="myException">
            <exceptionHandlers>
              <add exceptionMessage="ServerException" replaceExceptionType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ExceptionHandlingException, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                type="Frame.Web.Framework.Exceptions.ExceptionHandlingAttribute, Frame.Web.Framework"
                name="ExceptionHandle" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <loggingConfiguration name="myLogging" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="defaultListener" type="Frame.Web.Framework.Logging.EfTraceFormattedListener,Frame.Web.Framework" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    </listeners>
    <formatters>
      <add name="JsonLogFormatter"     type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.JsonLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="defaultListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors switchValue="All" name="errorWarnings">
        <listeners>
          <add name="defaultListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>
