<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>-->
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="defaultPolicy">
        <exceptionTypes>
          <add type="System.Exception" postHandlingAction="None" name="myException"> <!--ThrowNewException-->
            <exceptionHandlers>
              <add name="LoggingHandler" type="Frame.Web.Framework.Exceptions.LoggingHandler, Frame.Web.Framework" title="系统异常" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter,Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <loggingConfiguration name="myLogging" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="defaultListener" type="Frame.Web.Framework.Logging.EfTraceFormattedListener,Frame.Web.Framework" listenerDataType="Frame.Web.Framework.Logging.EfTraceFormattedListenerData,Frame.Web.Framework" formatter="JsonLogFormatter"/>
    </listeners>
    <formatters>
      <add name="JsonLogFormatter"     type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.JsonLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="defaultListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors switchValue="All" name="errorWarnings">
        <listeners>
          <add name="defaultListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>
